* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000000;
    min-height: 100vh;
}

.container {
    width: 1070px;
    /* height: 100%; */
    margin: 0 auto;
    vertical-align: top;
    margin-top: 0px;
}

header {
    width: 100%;
    height: 70px;
    background: black;
    opacity: 1;
    position: relative;
}
header img {
    height: 30px;
    margin-top: 5px;
}

h1 {
    font-size: 35px;
    color: red;
}

.topnav-right {
     float: right;
     position: absolute;
     top:0px;
     right: 70px;

}

#btn-search i {
    background-color: black;
    color: white;
    font-size: 20px;

}



#search {
    width: 50%;
    border-radius: 2px;
    font-size: 18px;
    border: none;


}

#btn-search{
    margin-top: 5px;
}

.films-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.film {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 400px;
    background: white;
    text-align: center;

}

.film img {
    max-width: 100%;

}

/* .film h3 {
    margin: 2px 0;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
} */

.film span .original-title {
    color: black;
}

.film span.language {
    color: black;
}

.film span.vote {
    color: black;
}

.bandiera {
  height:60px;
  transform: scale(0.6);
}

.fa, .fas {
  font-size:20px;
  color: #ffbf4c;
}
